Project/main/default/flows/Room_Availability.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Update_Room_Availability</name>
        <label>Update Room Availability</label>
        <locationX>1002</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>Get_Rooms_and_Service.Room_Availability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoomAvailablityToFalse</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>false</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <constants>
        <name>RoomAvailablityToFalse</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <interviewLabel>Room Availability {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Room Availability</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Rooms_and_Service</name>
        <label>Get Rooms and Service</label>
        <locationX>760</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Room_Availability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hotel_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Package__r.Hotel_Detail__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Rooms_and_Services__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAvailability</name>
        <label>updateAvailability</label>
        <locationX>1146</locationX>
        <locationY>252</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hotel_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Package__r.Hotel_Detail__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Room_Availability__c</field>
            <value>
                <elementReference>false</elementReference>
            </value>
        </inputAssignments>
        <object>Rooms_and_Services__c</object>
    </recordUpdates>
    <start>
        <locationX>362</locationX>
        <locationY>132</locationY>
        <connector>
            <targetReference>updateAvailability</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approve_Reject__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>HotelPayment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
